<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.binlee.dl.host"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:appComponentFactory="com.binlee.dl.hook.DlComponentFactory"
    tools:replace="android:appComponentFactory"
    tools:targetApi="p">
    <activity
      android:name="com.binlee.dl.proxy.ProxyActivity"
      android:exported="true" />
    <service
      android:name="com.binlee.dl.proxy.ProxyService"
      android:exported="true" />
    <receiver
      android:name="com.binlee.dl.proxy.ProxyReceiver"
      android:exported="true" />
    <provider
      android:name="com.binlee.dl.proxy.ProxyProvider"
      android:exported="true"
      android:authorities="xxx" />
  </application>

</manifest>